@use '_partial/nav';
@use '_partial/footer';

body {
  background-color: #f5f5f5;
}

.wrapper {
  overflow: hidden;
}

// Card
.post-card {
  margin: 0 auto;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.02), 1px 1px 15px 0 rgba(0, 0, 0, 0.03);
  transition: transform 0.3s, background-color 0.3s, box-shadow 0.6s;
  .banner-card__img {
    background-size: cover;
    background-position: center;
  }
}
.banner-card {
  width: 800px;
  margin: 116px auto 0;
  .banner-card__img {
    background-size: cover;
    background-position: center;
  }
  .banner-layer {
    padding: 96px 64px 64px 96px;
    background: linear-gradient(rgba(32, 32, 32, 0) 14%, rgba(32, 32, 32, 0.56) 100%);
    .banner-layer__avatar img {
      max-height: 64px;
      max-width: 64px;
      border-radius: 50%;
    }
    .banner-layer__title {
      margin: 8px 0 0;
      font-size: 32px;
      line-height: 48px;
      color: #fff;
    }
    .banner-layer__subtitle {
      margin: 8px 0 0;
      font-size: 18px;
      line-height: 22px;
      color: rgba(255, 255, 255, 0.8);
    }
  }
}

// 文章卡片
.blog-post {
  max-width: 800px;
  margin: 58px auto 0;
  &:hover {
    transform: translateY(-5px);
    box-shadow: 1px 10px 30px 0 rgba(0, 0, 0, 0.1);
  }
  // Banner
  .blog-post__banner {
    @media screen and (min-width: 1022px) {
      height: 322px;
    }
    @media screen and (max-width: 1022px) {
      height: 233px;
    }
    background-size: cover;
    background-position: center;
  }
  // Expert
  .blog-post__expert {
    position: relative;
    @media screen and (min-width: 1022px) {
      padding: 42px 54px 54px 54px;
      .blog-post__title {
        font-size: 28px;
      }
    }
    @media screen and (max-width: 1022px) {
      padding: 28px 32px 32px 32px;
      .blog-post__title {
        font-size: 24px;
      }
    }
    // Meta
    .blog-post__meta {
      margin: 0 0 20px;
      font-size: 16px;
      line-height: 20px;
      color: #767676;
    }
    // Title
    .blog-post__title {
      color: #3D4350;
    }
    .blog-post__excerpt {
      margin: 20px 0;
      font-size: 16px;
      color: #767676;
      line-height: 20px;
    }
    .blog-post__category a {
      margin: 0;
    }
    .blog-post__link {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
    }
  }
}

// Main-content
.post-content {
  display: flex;
  margin: 0 auto;
  max-width: 1280px;
  .post-content__main {
    width: 800px;
    margin: 116px auto 32px;
    box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.02), 1px 1px 15px 0 rgba(0, 0, 0, 0.03);
    transition: transform 0.3s, background-color 0.3s, box-shadow 0.6s;
    .banner-layer {
      padding: 96px 64px 64px 96px;
      background: linear-gradient(rgba(255, 255, 255, 0.73) 14%, rgba(255, 255, 255, 1) 100%);
      .banner-layer__avatar img {
        max-height: 64px;
        max-width: 64px;
        border-radius: 50%;
      }
      .banner-layer__title {
        margin: 8px 0 0;
        font-size: 32px;
        line-height: 48px;
        color: #222831;
      }
      .banner-layer__subtitle {
        margin: 8px 0 0;
        font-size: 18px;
        line-height: 22px;
        color: rgba(34, 40, 49, 0.8);
      }
    }
    // post文章内容区域
    .post-content__main__article {
      padding: 16px 32px;
      background-color: #fff;
      @import 'markdown';
    }
    .post-content__main__copyright {
      padding: 16px 32px;
      background-color: rgba(245, 245, 245, 0.64)
    }
  }
  .post-content__left, .post-content__right {
    flex-basis: 240px;
  }
}

// Pagination
.blog-pagination {
  margin: 58px auto;
  max-width: 800px;
  display: flex;
  justify-content: space-between;
  color: #52596a;
  & a {
    color: #52596a;
  }
  .blog-pagination__item {
    position: relative;
    padding: 30px 114px;
    background: #fff;
    font-size: 20px;
    color: #52596a;
    text-align: center;
    a {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      text-decoration: none;
    }
    span {
      user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      -webkit-user-select: none;
    }
  }
  .page-prev, .page-next {
    box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.02), 1px 1px 15px 0 rgba(0, 0, 0, 0.03);
    transition: transform 0.3s, background-color 0.3s, box-shadow 0.6s;
    &:hover {
      box-shadow: 1px 10px 30px 0 rgba(0, 0, 0, 0.1);
    }
  }
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

html, body {
  height: 100%;
}
