<footer class="blog-footer">
  <div class="blog-footer__copyright">
    <% const year_now = (new Date()).getFullYear() %>
    <p>
      &copy; <%= theme.footer.start_time !== year_now ? `${ theme.footer.start_time } - ` : '' %><%= year_now %>
      <%= config.author || config.title %>
    </p>
    <!-- Respect the author's labor achievements, please do not delete -->
    <!-- 尊重作者劳动成果，请勿删除 -->
    <p>
      Powered by <a href="https://hexo.io/" target="_blank">Hexo</a>.
      Theme <a href="https://github.com/zS1m/hexo-theme-contrails" target="_blank">contrails</a>
      by <a href="https://github.com/zS1m" target="_blank">zS1m</a>
    </p>
  </div>
</footer>