<header class="nav-bar">
  <nav class="nav-bar__nav">
    <!-- Nav buttons -->
    <% for (const i in theme.nav) { %>
      <a href="<%- url_for(theme.nav[i].href) %>">
        <% if (theme.nav_style === 'icon') { %>
          <iconpark-icon class="nav-bar__nav__icon" name="<%= theme.nav[i].icon %>"></iconpark-icon>
        <% } else if (theme.nav_style === 'text') { %>
          <span><%- __(i) %></span>
        <% } %>
      </a>
    <% } %>
  </nav>
</header>
